<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Analyzer</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">
    <script>
        function validateForm() {
            var textarea = document.getElementById("resume");
            if (textarea.value.trim() === "") {
                alert("Please paste your resume before submitting.");
                return false; // Prevent form submission
            }
            return true; // Allow form submission
        }
    </script>
</head>
<body>
    <div class="main">
        <h1>&lt; Resume Analyzer &gt;</h1>
        <form action="/result" method="post" onsubmit="return validateForm()">
            <p class="description">Recruiters, especially those at big tech companies, often need to sift 
                through thousands of resumes to identify suitable candidates. Consequently,
                developing tools to assist in this process is a natural progression.
                This app leverages NLP-related libraries in Python - such as Gensim, NLTK,
                spaCy, and RegEx - and data manipulation to create tools designed to
                support your hiring process.</p>
            <label for="resume" style="color: #007bff"><h2>Paste your resume here:</h2></label><br>
            <textarea id="resume" name="resume" rows="20" cols="50"></textarea><br>
            <input type="submit" value="Go">
        </form>
    </div>
    <footer><p>&lt; Made with ❤ </p><div class="bold"><p>Borges 2024 &gt;</p></div></footer>
</body>
</html>
