body {
    font-family: "Roboto Mono", monospace;
    background-color: #181818;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}

form {
    background-color: #232323;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #99b8da;
    border-radius: 4px;
    background-color: #232323;
    resize: vertical;
    color: #ffffff;
}

input[type="submit"] {
    background-color: #007bff;
    font-family: "Roboto Mono", monospace;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Result Page Styles */
.result-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
    margin-top: 20px;
}

.result-container h2 {
    color: #343a40;
}

.result-container p {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 4px;
    overflow-wrap: break-word;
}

.visualization {
    margin-top: 20px;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

a:hover {
    color: #0056b3;
}

footer {
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    padding: 70px;
    text-align: center;
    color: #7c8b9a !important;
    font-size: 1em !important;
}

.bold {
    font-family: 'Source Code Pro', monospace;
    font-weight: 800;
    margin-left: 10px;
    color: #7c8b9a ;
}

.description {
    color: #7c8b9a;
}

.main {
    margin-top: 50px;
}
